/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0d1b2a;
}
body header {
  background-color: #0d1b2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
body header .logo__container {
  width: 100px;
}
body header .logo__container .logo {
  width: 100%;
  border-radius: 1rem;
}
body header .nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
body header .nav__list .mobile-none {
  display: none;
}
body header .nav__list .nav__links {
  color: #e0e1dd;
  margin: 0 0.5rem;
}
body header .acount__list {
  list-style: none;
  text-align: center;
}
body header .acount__list .acount__links {
  color: #e0e1dd;
}

/* HEADER QUERIES */
@media screen and (min-width: 760px) {
  body header .nav__list .nav__links {
    margin: 0 1rem;
  }
  body header .nav__list .mobile-none {
    display: block;
  }
  .acount__list {
    display: flex;
  }
  .acount__list .acount__items {
    margin: 0 0.5rem;
    background-color: #778da9;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
  .acount__list .acount__items .acount__links {
    text-decoration: none;
  }
}
@media screen and (min-width: 1110px) {
  body header {
    position: sticky;
    top: 0;
    box-shadow: 0 0 0.5rem #000;
    font-size: 1.5rem;
  }
  body header .nav__list .nav__links {
    margin: 0 1.5rem;
  }
}
/* HEADER END */
/* MAIN */
.nav__bootstrap {
  background-color: #778da9;
  padding: 0.5rem 1rem;
  margin-bottom: 0.1rem;
  font-family: sans-serif;
  color: #0d1b2a;
}

.title {
  font-size: 5rem;
  text-align: center;
  color: #0d1b2a;
  background-color: #778da9;
}

.motorbike {
  background-color: #1b263b;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
}
.motorbike__link {
  text-decoration: none;
  color: #e0e1dd;
}
.motorbike__img {
  width: 100%;
  border-radius: 1rem;
}
.motorbike__button {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #778da9;
  border-radius: 0.5rem;
}
.motorbike__button:hover {
  opacity: 0.9;
}

/* MAIN QUEREIES */
@media screen and (min-width: 1110px) {
  .main__index {
    display: flex;
  }
  .main__index .motorbike {
    width: 45%;
  }
  .main__index .motorbike__container-img {
    height: 637px;
    overflow: hidden;
  }
}
/* MAIN END */
/* INFO */
.info {
  background-color: #778da9;
  padding: 1rem;
  margin: 1rem 0;
}
.info__sub {
  background-color: #778da9;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
.info__text {
  color: #0d1b2a;
}
.info__button {
  align-self: flex-end;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #1b263b;
  border-radius: 1rem;
  color: #e0e1dd;
  margin-top: 1rem;
}
.info .sub--border {
  border-bottom: solid #1b263b 0.1rem;
  padding-bottom: 1rem;
}
.info .sub--margin {
  margin-top: 1rem;
}

/* INFO QUERIES */
@media screen and (min-width: 760px) {
  .info {
    display: flex;
    background-color: transparent;
    padding: 0;
    align-items: center;
  }
  .info__sub {
    margin: 0 2rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  .info__button {
    align-self: center;
  }
}
/* INFO END */
/* COMPARE */
.compare {
  background-color: #1b263b;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
}
.compare__container-img {
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
}
.compare__dates {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.compare__dates .button--color-main {
  background-color: #778da9;
  color: #0d1b2a;
}
.compare__text {
  color: #e0e1dd;
  padding: 1rem;
  text-wrap: pretty;
}

/* COMPARE QUERIES */
@media screen and (min-width: 1110px) {
  .compare {
    padding: 0;
  }
  .compare__motorbike {
    display: flex;
    align-items: center;
  }
  .compare__container-img {
    border-radius: 1rem 0 0 1rem;
  }
  .compare__dates {
    padding: 1rem;
  }
  .img--radius {
    border-radius: 1rem 0 0 1rem;
  }
}
/* COMPARE END */
/* FOOTER */
footer {
  background-color: #778da9;
  color: #0d1b2a;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  text-wrap: pretty;
}

/* FOOTER QUERIES */
@media screen and (min-width: 1110px) {
  footer {
    font-size: 3rem;
  }
}
/* FOOTER END */
/* PICKER */
.main__compare {
  width: 90%;
  background-color: #1b263b;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
}
.main__compare .picker__container {
  display: flex;
  flex-direction: column;
  background-color: #1b263b;
}
.main__compare .picker__container .picker__label {
  color: #e0e1dd;
  display: block;
  padding: 1rem;
  font-size: 2rem;
}
.main__compare .picker__container .picker__search {
  padding: 0.5rem;
  border-radius: 1rem;
  outline: none;
  width: 90%;
}
.main__compare .button--color-main {
  background-color: #778da9;
}
.main__compare .button-margin {
  margin-top: 2rem;
  color: #0d1b2a;
}

/* PICKER QUERIES */
@media screen and (min-width: 1110px) {
  .main__compare .picker__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
/* PICKER END */
/* RESULT */
.result {
  width: 90%;
  margin: 1rem auto;
}
.result__text {
  color: #e0e1dd;
  text-decoration: underline;
  text-align: center;
  margin: 2rem;
  font-size: 5rem;
}
.result__card {
  padding: 1rem;
  background-color: #1b263b;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.result__card .card-link {
  color: #e0e1dd;
  text-decoration: none;
  background-color: #778da9;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
.result__title {
  color: #e0e1dd;
  font-size: 2rem;
  text-align: center;
}

.card--margin {
  margin-top: 1rem;
}

/* RESULT QUERIES*/
@media screen and (min-width: 1110px) {
  .result {
    display: flex;
    justify-content: space-between;
  }
  .result__card {
    position: relative;
    z-index: -1;
    width: 45%;
  }
  .card--margin {
    margin-top: 0;
  }
  .motorbike__img {
    object-fit: cover;
    object-position: bottom;
  }
  .compare__container-img {
    border-radius: 1rem;
    height: 240px;
    overflow: hidden;
  }
}
/* RESULT END */
/* GRILLA */
@media screen and (min-width: 1110px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 500px;
    justify-items: center;
    justify-content: center;
    align-content: center;
  }
}
.card-cub {
  margin: 1rem;
  overflow: hidden;
}

/* SESION */
.main__login {
  text-align: center;
  background-color: #778da9;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 1rem;
}

.button-sesion {
  background-color: #1b263b;
  margin-top: 2rem;
  font-size: 2rem;
}

.sesion, .register {
  font-size: 2rem;
}

@media screen and (min-width: 1110px) {
  .footer__login {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .sesion {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
  }
}
/* REGISTER */
@media screen and (min-width: 760px) {
  .footer__register {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
